<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>404 - Nie znaleziono</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="wrap" style="text-align: center; padding: 4rem 0;">
                <h1>404 - Nie można odnaleźć strony</h1>
                <p>Przepraszamy, ale żądana strona nie istnieje.</p>
                <a href="/" class="k-button k-button-md k-button-solid k-button-solid-primary k-rounded-md">
                    Wróć do strony głównej
                </a>
            </div>
        </LayoutView>
    </NotFound>
</Router>