@using Datacomp.StronaFirmowa.Fundament.Resources
@using Microsoft.Extensions.Localization
@using Telerik.SvgIcons
@inject IStringLocalizer<SharedResources> Localizer

<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-grid">
            <!-- Quick Links Section -->
            <div class="footer-section links-section">
                <h4>@Localizer["Footer_QuickLinks"]</h4>
                <ul class="footer-links">
                    <li><a href="/"><TelerikSvgIcon Icon="@SvgIcon.ChevronRight" Size="@ThemeConstants.SvgIcon.Size.Small" /> @Localizer["Nav_Home"]</a></li>
                    <li><a href="/produkt"><TelerikSvgIcon Icon="@SvgIcon.ChevronRight" Size="@ThemeConstants.SvgIcon.Size.Small" /> @Localizer["Nav_Product"]</a></li>
                    <li><a href="/o-nas"><TelerikSvgIcon Icon="@SvgIcon.ChevronRight" Size="@ThemeConstants.SvgIcon.Size.Small" /> @Localizer["Nav_About"]</a></li>
                    <li><a href="/strefa-klienta"><TelerikSvgIcon Icon="@SvgIcon.ChevronRight" Size="@ThemeConstants.SvgIcon.Size.Small" /> @Localizer["Nav_ClientZone"]</a></li>
                </ul>
            </div>

            <!-- Resources Section -->
            <div class="footer-section support-section">
                <h4>@Localizer["Footer_Resources"]</h4>
                <ul class="footer-links">
                    <li><a href="/faq"><TelerikSvgIcon Icon="@SvgIcon.ChevronRight" Size="@ThemeConstants.SvgIcon.Size.Small" /> @Localizer["Nav_FAQ"]</a></li>
                    <li><a href="/dokumentacja"><TelerikSvgIcon Icon="@SvgIcon.ChevronRight" Size="@ThemeConstants.SvgIcon.Size.Small" /> @Localizer["Nav_Documentation"]</a></li>
                    <li><a href="/blog"><TelerikSvgIcon Icon="@SvgIcon.ChevronRight" Size="@ThemeConstants.SvgIcon.Size.Small" /> @Localizer["Nav_Blog"]</a></li>
                </ul>
            </div>

            <!-- Contact Section -->
            <div class="footer-section contact-section">
                <h4>@Localizer["Footer_Contact"]</h4>
                <ul class="footer-contact">
                    <li>
                        <TelerikSvgIcon Icon="@SvgIcon.MapMarkerTarget" />
                        <span>@Localizer["Footer_Address"]</span>
                    </li>
                    <li>
                        <TelerikSvgIcon Icon="@SvgIcon.Envelope" />
                        <a href="mailto:kontakt@data-comp.pl">kontakt@data-comp.eu</a>
                    </li>
                    <li>
                        <TelerikSvgIcon Icon="@SvgIcon.MobileOutlineRinging" />
                        <a href="tel:+48123456789">+48 123 456 789</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-bottom-content">
            <p class="copyright">
                &copy; @DateTime.Now.Year @Localizer["Company_Name"]. @Localizer["Footer_Copyright"]
            </p>
            <div class="footer-legal">
                <a href="/polityka-prywatnosci">@Localizer["Footer_PrivacyPolicy"]</a>
                <span class="separator">|</span>
                <a href="/regulamin">@Localizer["Footer_TermsOfService"]</a>
            </div>
        </div>
    </div>
</footer>